@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  --primary-color : #E2D2C1;
  --secondary-color : #F5EFEB;
  --primary-button-color : #0629ef; 

}

.active{
  text-decoration-line: underline;
  color :var(--primary-button-color);
}

#root {
  width: auto;
  height: max-content;
  padding: 0px;
  margin: 0px;
}

