@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  --primary-color : #e6dace;
  --secondary-color : #f5ece6;
  --primary-button-color : #0050ff; 

}

.active{
  text-decoration-line: underline;
  color :var(--primary-button-color);
}

#root {
  width: auto;
  height: max-content;
  padding: 0px;
  margin: 0px;
}

